.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }


  .btn-grid .btn {
    margin: 5px;
    width: 100%;
    height: 60px; 
    font-size: 1.25rem; 
  }

  body {
    background-color: #FFECB3; 
  }

  .navbar, footer {
    background-color: rgba(238, 163, 93, 0.5); 
    color: #5e5b52;
  }

  .navbar .navbar-brand, .navbar .nav-link, footer a, footer p {
    color: #5e5b52;
  }

  .navbar .navbar-brand:hover, .navbar .nav-link:hover, footer a:hover {
    color: #FFECB3;
  }
  
  .centered-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
  }

  .btn-yellow {
    background-color:rgba(247, 140, 9, 0.79) ;
    color: rgba(0, 0, 0, 0.5);
  }

  .btn-yellow:hover {
    background-color: rgba(238, 163, 93, 0.5) !important;
    color: rgba(0, 0, 0, 0.5) !important;
  }
  
  #popup {
      display: none; 
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 400px;
      max-width: 90%; 
      max-height: 90vh;
      background: url('./foodpopup.jpg') no-repeat center center;
      background-size: cover;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      padding: 20px;
      text-align: center;
      color: white; 
      border-radius: 5%;
  }
  
  .popup-content {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
  .close-button {
      position: absolute;
      top: -82px;
      right: -25px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .popup-text h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .popup-text h6 {
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .popup-options {
      margin-top: 20px;
  }
  
  .popup-option {
      margin: 10px;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .popup-option:hover {
      background-color: rgba(238, 163, 93, 0.5);
  }
  
  .close-button:hover {
      background-color: rgba(238, 163, 93, 0.5);
      color: black;
  }
  
  .carousel-inner {
    height: 0;
    padding-bottom: 60%; 
  }
  
  .carousel-item {
    position: absolute !important; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%; 
    object-fit: cover;
  }
  
  .carousel-caption{
    background-color: rgba(238, 163, 93, 0.5);
    left: 0;
    right: 0;
  }
  
  .carousel-indicators [data-bs-target] {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 10px; 
      height: 10px; 
      padding: 0;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #fff;
      background-clip: padding-box;
      border: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      opacity: .5;
      transition: opacity .6s ease;
      border-radius: 100%; 
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease; 
  }


.card-img-top:hover {
    transform: scale(1.1); 
}

.profile-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .profile-card img {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease; 
  }
  .profile-card .card-body {
    padding: 1.5rem;
  }
  .profile-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .profile-card .card-text {
    font-size: 0.9rem;
    color: #777;
  }
  .profile-card .btn {
    margin-top: 1rem;
  }
